*.a
*.o
*.ko
*.a.*
*.o.*
*.ko.*
*.mod.c

*.orig
*~

**/modules.order
**/Module.symvers
**/.tmp_versions

module/ioctl_test
module/strawpi_start_module.sh
module/start_module.sh

presentation/*.orig
presentation/*.aux
presentation/*.nav
presentation/*.toc
presentation/*.snm
presentation/*.vrb
presentation/*.out
presentation/*.log
presentation/presentation.pdf


