*.a
*.o
*.ko
*.a.*
*.o.*
*.ko.*
*.mod.c

*~

**/modules.order
**/Module.symvers
**/.tmp_versions

presentation/*.orig
presentation/*.aux
presentation/*.nav
presentation/*.toc
presentation/*.snm
presentation/*.vrb
presentation/*.out
presentation/*.log
presentation/presentation.pdf


